body {
    padding-top: 70px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
background-image: url("img1.jpg");
background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    backdrop-filter: blur(5px);
    }

#board {
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
}

#logo {
    color: white;
    margin: 0%;
}

#secondWindow {
    max-width: 800px;
    margin: 10px;
    min-height: 370px;
    color: white;
}

#moveTable {
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

#controls {
    position: absolute;
    bottom: 0;
}
.container-fluid{
   position: fixed; top: 12px; left: 64px; z-index: 999; padding: 10px;
}
